.tag {
  border-radius: 20px;
  color:var( --text-tag);
  border: 1px solid var( --text-tag);
  background: var( --bg-light);
  width: 7rem;
  height: 1.5rem;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  display: flex;
  justify-content: center;
  align-items: center;
}